# Minecraft Server Files
world/
logs/
crash-reports/
*.log
forge-*.jar
minecraft_server.*.jar

# Конфигурационные файлы с данными
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json

# Библиотеки Forge
libraries/

# Временные файлы
*.tmp
*.bak



