# Minecraft Server Files
world/
logs/
crash-reports/
*.log

# Конфигурационные файлы с данными игроков
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json

# Временные файлы
*.tmp
*.bak
.DS_Store
Thumbs.db

